<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>路由管理</title>
    <script src="vue.js"></script>
    <script src="index.js"></script>
    <link rel="stylesheet" href="index.css"/>
</head>
<body>

<div id="app">
    <el-button type="text" @click="openDialog('add','')">新增</el-button>
    <el-table
            :data="tableData"
            border stripe
            style="width: 100%">

        <el-table-column
                prop="name"
                label="名称(唯一)"
                width="200">
        </el-table-column>
        <el-table-column
                prop="prefix"
                label="匹配前缀"
        >
        </el-table-column>
        <el-table-column
                prop="remote"
                label="远程地址"
        >
        </el-table-column>
        <el-table-column
                prop="preview"
                label="预览"
        >
        </el-table-column>
        </el-table-column>
        <el-table-column
                prop="order"
                label="排序(越低优先级越高)"
        >
        </el-table-column>
        <el-table-column
                prop="remark"
                label="备注"
        >
        </el-table-column>
        <el-table-column
                fixed="right"
                label="操作"
                width="100">
            <template slot-scope="scope">
                <el-button @click="openDialog('edit',scope.row)" type="text" size="small">
                    修改
                </el-button>
                <el-button @click="handleDel(scope.row)" type="text" size="small">
                    删除
                </el-button>
            </template>
        </el-table-column>
    </el-table>


    <el-dialog :title="editTitle" :visible.sync="dialogFormVisible" width="1200px">
        <el-form :model="form" :rules="rules" ref="form">
            <el-form-item label="名称" :label-width="formLabelWidth" prop="name">
                <el-input v-model="form.name" placeholder="请输入名称(保证唯一即可)"></el-input>
            </el-form-item>
            <el-form-item label="匹配前缀" :label-width="formLabelWidth" prop="prefix">
                <el-input v-model="form.prefix" placeholder="例1: * (表示匹配所有) ; 例2: api ; 例3: api/user"></el-input>
            </el-form-item>
            <el-form-item label="远程地址" :label-width="formLabelWidth" prop="remote">
                <el-input v-model="form.remote"
                          placeholder="例1: http://192.168.2.1 ; 例2: http://192.168.2.1/api ; 例3: http://192.168.2.1/api/user  "></el-input>
            </el-form-item>
            <el-form-item label="模式" :label-width="formLabelWidth">
                <el-select v-model="form.mode" placeholder="请选择模式" @change="changeMode($event)">
                    <el-option
                            key="transparent"
                            label="透传"
                            value="transparent">
                        <span style="float: left">透传</span>
                        <span style="float: right; color: #8492a6; font-size: 13px">不做任何修改,直接转发</span>
                    </el-option>
                    <el-option
                            key="enhance"
                            label="增强"
                            value="enhance">
                        <span style="float: left">增强</span>
                        <span style="float: right; color: #8492a6; font-size: 13px">可以修改请求和响应</span>
                    </el-option>
                </el-select>
            </el-form-item>
            <el-tabs tab-position="left" v-model="activeEnhanceName" @tab-click="handleEnhanceTabClick"
                     v-show="showEnhanceOption" style="margin-left: 120px;margin-top: -13px;">
                <el-button type="text" @click="addEnhanceTableData()">新增</el-button>
                <el-tab-pane label="请求头" name="reqHeader">

                    <el-table stripe
                              :data="reqHeaderTableData"
                              @cell-dblclick="openEditColumn">
                        <el-table-column
                                prop="mode"
                                label="模式"
                                width="120">
                            <template slot-scope="scope">

                                <el-select v-model="scope.row.mode" placeholder="请选择模式"
                                           size="small" stype="    width: 100px;">
                                    <el-option
                                            v-for="item in reqHeaderOptions"
                                            :key="item.value"
                                            :label="item.label"
                                            :value="item.value"
                                    >
                                    </el-option>
                                </el-select>
                            </template>
                        </el-table-column>
                        <el-table-column
                                prop="headerName"
                                label="请求头名称"
                                width="180">
                            <template slot-scope="scope">
                                <el-input
                                        v-model="scope.row.headerName"
                                        placeholder="请求头名称">
                                    >
                                </el-input>
                            </template>
                        </el-table-column>
                        <el-table-column
                                prop="source"
                                label="查找目标">
                            <template slot-scope="scope">
                                <el-input
                                        v-model="scope.row.source"
                                        placeholder="查找目标">
                                    >
                                </el-input>
                            </template>
                        </el-table-column>
                        <el-table-column
                                prop="content"
                                label="替换为">
                            <template slot-scope="scope">
                                <el-input
                                        v-model="scope.row.content"
                                        placeholder="替换为">
                                    >
                                </el-input>
                            </template>
                        </el-table-column>
                        <el-table-column
                                prop="order"
                                label="操作"
                                width="50">
                            <template slot-scope="scope">
                                <el-button @click="handleReqHeaderDel(scope.row)" type="text" size="small">
                                    删除
                                </el-button>
                            </template>
                        </el-table-column>
                    </el-table>

                </el-tab-pane>
                <el-tab-pane label="请求体" name="reqBody">
                    <el-table stripe
                              :data="reqBodyTableData"
                              @cell-dblclick="openEditColumn">

                        <el-table-column
                                prop="source"
                                label="查找目标">
                            <template slot-scope="scope">

                                <el-input
                                        v-model="scope.row.source"
                                        placeholder="查找目标">
                                    >
                                </el-input>
                            </template>
                        </el-table-column>
                        <el-table-column
                                prop="content"
                                label="替换为">
                            <template slot-scope="scope">

                                <el-input
                                        v-model="scope.row.content"
                                        placeholder="替换为">
                                    >
                                </el-input>
                            </template>
                        </el-table-column>
                        <el-table-column
                                prop="order"
                                label="排序"
                                width="150"
                        >
                            <template slot-scope="scope">

                                <el-input-number size="small" v-model="scope.row.order" :min="1" :max="100"
                                                 label="越小优先级越高"></el-input-number>
                            </template>
                        </el-table-column>
                        <el-table-column
                                prop="order"
                                label="操作"
                                width="50">
                            <template slot-scope="scope">
                                <el-button @click="handleReqBodyDel(scope.row)" type="text" size="small">
                                    删除
                                </el-button>
                            </template>
                        </el-table-column>
                    </el-table>

                </el-tab-pane>
                <el-tab-pane label="响应头" name="respHeader">
                    <el-table stripe
                              :data="respHeaderTableData"
                              @cell-dblclick="openEditColumn">
                        <el-table-column
                                prop="mode"
                                label="模式"
                                width="120">
                            <template slot-scope="scope">


                                <el-select v-model="scope.row.mode" placeholder="请选择模式"
                                           size="small" stype="    width: 100px;">
                                    <el-option
                                            v-for="item in respHeaderOptions"
                                            :key="item.value"
                                            :label="item.label"
                                            :value="item.value"
                                    >
                                    </el-option>
                                </el-select>
                            </template>
                        </el-table-column>
                        <el-table-column
                                prop="headerName"
                                label="请求头名称"
                                width="180">
                            <template slot-scope="scope">

                                <el-input
                                        v-model="scope.row.headerName"
                                        placeholder="请求头名称">
                                    >
                                </el-input>
                            </template>
                        </el-table-column>
                        <el-table-column
                                prop="source"
                                label="查找目标">
                            <template slot-scope="scope">

                                <el-input
                                        v-model="scope.row.source"
                                        placeholder="查找目标">
                                    >
                                </el-input>
                            </template>
                        </el-table-column>
                        <el-table-column
                                prop="content"
                                label="替换为">
                            <template slot-scope="scope">

                                <el-input
                                        v-model="scope.row.content"
                                        placeholder="替换为">
                                    >
                                </el-input>
                            </template>
                        </el-table-column>
                        <el-table-column
                                prop="order"
                                label="操作"
                                width="50">
                            <template slot-scope="scope">
                                <el-button @click="handleRespHeaderDel(scope.row)" type="text" size="small">
                                    删除
                                </el-button>
                            </template>
                        </el-table-column>
                    </el-table>


                </el-tab-pane>
                <el-tab-pane label="响应体" name="respBody">

                    <el-table stripe
                              :data="respBodyTableData"
                              @cell-dblclick="openEditColumn">

                        <el-table-column
                                prop="source"
                                label="查找目标">
                            <template slot-scope="scope">

                                <el-input
                                        v-model="scope.row.source"
                                        placeholder="查找目标">
                                    >
                                </el-input>
                            </template>
                        </el-table-column>
                        <el-table-column
                                prop="content"
                                label="替换为">
                            <template slot-scope="scope">

                                <el-input
                                        v-model="scope.row.content"
                                        placeholder="替换为">
                                    >
                                </el-input>
                            </template>
                        </el-table-column>
                        <el-table-column
                                prop="order"
                                label="排序"
                                width="150"
                        >
                            <template slot-scope="scope">

                                <el-input-number size="small" v-model="scope.row.order" :min="1" :max="100"
                                                 label="越小优先级越高"></el-input-number>
                            </template>
                        </el-table-column>
                        <el-table-column
                                prop="order"
                                label="操作"
                                width="50">
                            <template slot-scope="scope">
                                <el-button @click="handleRespBodyDel(scope.row)" type="text" size="small">
                                    删除
                                </el-button>
                            </template>
                        </el-table-column>
                    </el-table>
                </el-tab-pane>
            </el-tabs>


            <el-form-item label="备注" :label-width="formLabelWidth">
                <el-input type="textarea" v-model="form.remark"></el-input>
            </el-form-item>
        </el-form>
        <div slot="footer" class="dialog-footer">
            <el-button @click="closeDialog()">取 消</el-button>
            <el-button type="primary" @click="handleSave() ">确 定</el-button>
        </div>
    </el-dialog>


</div>

<style type="text/css">

</style>
<script>


    const App = {
        data() {
            return {
                tableData: [],
                dialogFormVisible: false,
                formLabelWidth: '120px',
                editMode: "save",
                showEnhanceOption: false,
                reqHeaderOptions: [
                    {
                        value: 10,
                        label: '添加'
                    },
                    {
                        value: -10,
                        label: '删除'
                    },
                    {
                        value: 0,
                        label: '修改'
                    },
                ],
                respHeaderOptions: [
                    {
                        value: 12,
                        label: '添加'
                    },
                    {
                        value: -12,
                        label: '删除'
                    },
                    {
                        value: 2,
                        label: '修改'
                    },
                ],
                reqHeaderTableData: [],
                respHeaderTableData: [],
                reqBodyTableData: [],
                respBodyTableData: [],
                form: {
                    name: '',
                    prefix: '',
                    remote: '',
                    remark: '',
                    mode: 'transparent',
                    order: 1

                }, rules: {
                    name: [
                        {required: true, message: '请输入唯一名称', trigger: 'blur'}
                    ],
                    prefix: [
                        {required: true, message: '请输入前缀', trigger: 'blur'}
                    ],
                    remote: [
                        {required: true, message: '请输入远程地址', trigger: 'blur'}
                    ]
                },
                activeEnhanceName: 'reqHeader',
                editTitle: '新增'
            }
        },
        methods: {
            filterRule(ruleList, modes) {
                return ruleList.filter((rule) => {
                    for (let i = 0; i < modes.length; i++) {
                        let ti = modes[i];
                        if (rule.mode == ti) {
                            return true;
                        }
                    }
                });
            },
            getRowKey() {
                return 'xxxxxxxx-xxxx-4xxx-yxxx-xxxxxxxxxxxx'.replace(/[xy]/g, function (c) {
                    var r = Math.random() * 16 | 0,
                        v = c == 'x' ? r : (r & 0x3 | 0x8);
                    return v.toString(16);
                });
                ;
            },
            addEnhanceTableData() {
                if (this.activeEnhanceName == "reqHeader") {
                    this.addReqHeaderTableData();
                } else if (this.activeEnhanceName == "reqBody") {
                    this.addReqBodyTableData();
                } else if (this.activeEnhanceName == "respHeader") {
                    this.addRespHeaderTableData();
                } else if (this.activeEnhanceName == "respBody") {
                    this.addRespBodyTableData();
                }
            },

            handleRespHeaderDel(row) {
                console.log(row);
                for (let i = 0; i < this.respHeaderTableData.length; i++) {
                    if (this.respHeaderTableData[i].key == row.key) {
                        this.respHeaderTableData.splice(i, 1);
                    }
                }
            },
            addRespHeaderTableData() {
                this.respHeaderTableData.push({
                    mode: 12,
                    headerName: "",
                    source: "",
                    content: "",
                    order: 1,
                    edit: true,
                    key: this.getRowKey()
                });
            },
            handleRespBodyDel(row) {
                console.log(row);
                for (let i = 0; i < this.respBodyTableData.length; i++) {
                    if (this.respBodyTableData[i].key == row.key) {
                        this.respBodyTableData.splice(i, 1);
                    }
                }
            },
            addRespBodyTableData() {
                this.respBodyTableData.push({
                    mode: 3,
                    headerName: "",
                    source: "",
                    content: "",
                    order: 1,
                    edit: true,
                    key: this.getRowKey()
                });
            },
            handleReqHeaderDel(row) {
                console.log(row);
                for (let i = 0; i < this.reqHeaderTableData.length; i++) {
                    if (this.reqHeaderTableData[i].key == row.key) {
                        this.reqHeaderTableData.splice(i, 1);
                    }
                }
            },
            addReqHeaderTableData() {
                this.reqHeaderTableData.push({
                    mode: 10,
                    headerName: "",
                    source: "",
                    content: "",
                    order: 1,
                    edit: true,
                    key: this.getRowKey()
                });
            },
            handleReqBodyDel(row) {
                console.log(row)
                for (let i = 0; i < this.reqBodyTableData.length; i++) {
                    if (this.reqBodyTableData[i].key == row.key) {
                        this.reqBodyTableData.splice(i, 1);
                    }
                }
            },
            addReqBodyTableData() {
                this.reqBodyTableData.push({
                    mode: 1,
                    headerName: "",
                    source: "",
                    content: "",
                    order: 1,
                    edit: true,
                    key: this.getRowKey()
                });
            },
            openEditColumn(row, column, cell, event) {
                console.log(row, cell);
                row.edit = true;
            },
            // 表格数据编辑保存并关闭编辑
            editColumnData(row, column) {
                // 关闭表格编辑
                console.log(row, column)
            },
            handleEnhanceTabClick(tab, event) {
                console.log(tab, event);
            },
            changeMode(value) {
                console.log(value);
                if (value == "enhance") {
                    this.showEnhanceOption = true;
                } else {
                    this.showEnhanceOption = false;
                }
            },
            closeDialog() {
                this.dialogFormVisible = false;
                this.form.name = "";
                this.form.prefix = "";
                this.form.remote = "";
                this.form.remark = "";
            },
            openDialog(mode, row) {
                this.dialogFormVisible = true;

                if (mode == "add") {
                    this.editMode = 'add'
                    this.form.name = "";
                    this.form.prefix = "";
                    this.form.remote = "";
                    this.form.remark = "";
                    this.editTitle = "添加";
                    this.reqHeaderTableData = [];
                    this.respBodyTableData = [];
                    this.reqHeaderTableData = [];
                    this.respBodyTableData = [];
                } else {
                    this.editMode = 'edit'
                    this.form.name = row.name;
                    this.form.prefix = row.prefix;
                    this.form.remote = row.remote;
                    this.form.remark = row.remark;
                    this.form.mode = row.mode;
                    this.editTitle = "修改";
                    this.reqHeaderTableData = this.filterRule(row.ruleList, [0, 10, -10]);
                    this.reqBodyTableData = this.filterRule(row.ruleList, [1]);
                    this.respHeaderTableData = this.filterRule(row.ruleList, [2, 12, -12]);
                    this.respBodyTableData = this.filterRule(row.ruleList, [3]);
                    console.log(this.reqHeaderTableData);
                    console.log(this.reqBodyTableData);
                    console.log(this.respHeaderTableData);
                    console.log(this.respBodyTableData);
                }
            },
            handleSave() {
                var url = "";
                var name = this.form.name;
                var prefix = this.form.prefix;
                var remote = this.form.remote;
                var mode = this.form.mode;
                var remark = this.form.remark;
                if (this.editMode == "add") {
                    url = "addProxy"
                } else {
                    url = "editProxy"
                }
                var rules = this.reqHeaderTableData.concat(this.reqBodyTableData).concat(this.respHeaderTableData).concat(this.respBodyTableData);
                console.log()
                fetch(url, {
                    method: 'post',
                    body: JSON.stringify({
                        name: name,
                        prefix: prefix,
                        remote: remote,
                        remark: remark,
                        mode: mode,
                        ruleList: rules
                    }),
                    headers: {
                        'Content-Type': 'application/json'
                    }
                }).then(res => {
                    let resdata = res.text();
                    return resdata;
                }).then(res => {
                    console.log("res:", res);
                    if (res == "true") {
                        this.$message({
                            message: '操作成功',
                            type: 'success'
                        });
                        this.getRouteList();
                    } else {
                        this.$message.error('操作失败');
                    }

                });
                this.dialogFormVisible = false;

            },
            handleDel(row) {
                console.log("row:", row);

                fetch("delProxy", {
                    method: 'post',
                    body: JSON.stringify({
                        name: row.name
                    }),
                    headers: {
                        'Content-Type': 'application/json'
                    }
                }).then(res => {
                    let resdata = res.text();
                    return resdata;
                }).then(res => {
                    console.log("res:", res);
                    this.getRouteList();
                });
            },
            getRouteList() {
                var vue = this;
                fetch("getRouteList", {
                    "method": "GET",
                }).then(res => {
                    let resdata = res.json();
                    return resdata;
                }).then(res => {
                    console.log("res:", res);
                    vue.tableData = res;
                });
            }
        },
        mounted: function () {
            console.log("页面打开了!");

            this.getRouteList();

        }
    }
    var Ctor = Vue.extend(App);
    new Ctor().$mount('#app');
    // const app = Vue.createApp(App);
    // app.use(ElementPlus);
    // app.mount("#app");

</script>
</body>

</html>